<div class="jumbtron">
    <nav class="navbar navbar-expand-md navbar-dark mb-4 navColor">
        <a class="navbar-brand" href="#"> <img class="card-img-top" (click)="mostrarDetalhes(dt)" src="../../../assets/img/easybalad.png" style="max-width: 50px; margin-right: 5px;"/>EasyBalads</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
           
          </ul>
          
        </div>
      </nav>
    <div class="row">
        <div class="col-md-8">
          
        </div>
        <div class="col-md-3">
            <app-cep></app-cep>
        </div>
    </div>
</div>
<br>
<app-easybalads-list></app-easybalads-list> 



